.top_header {
  height: 52px;
  background-color: #2b292a;
}

// .nav-item {
//   padding-left: 50px;
// }
.nav-link {
   padding-left: 50px !important;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  padding: 30px 0;
}
