.footerBg{
    background-color: #2B292A;
    padding-top: 82px;
    padding-bottom: 32px;
    .icons{
        margin: 25px 0;
    }
    h3{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 18px;
    }
    p{
        font-size: 18px;
        font-weight: 400;
    }
}
.footerBottomBg{
    background-color: #221F20;
    padding: 22px 0;
    a{
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
    }
}

