body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
h1{
  font-size: 52px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 22px;
}
p{
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.btn-primary{
  background: #3EBDAC;
  color: #fff;
  border-radius: 100px;
  padding: 15px 28px;
}
.sectionHEading{
  padding-top: 73px;
  padding-bottom: 60px;
  text-align: center;
  
}
.sectionHEading h2{
    font-size: 28px;
    font-weight: 500;
    color: #2B292A;
}
.sectionHEading p{
    font-size: 20px;
    color: #2B292A !important;
    margin-bottom: 20px;
}
.rectangle{
  width: 74px;
  height: 3px;
  background: #3EBDAC;
  margin: 0 auto;
}