body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
h1{
  font-size: 52px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 22px;
}
p{
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.btn-primary{
  background: #3EBDAC;
  color: #fff;
  border-radius: 100px;
  padding: 15px 28px;
}