.slider-part{
    position: relative;
 .slick-prev {
        display: block;
        position: absolute;
        left: 5%;
        top: 50%;
        z-index: 99;
        color: #fff;
        transform: translateX(-50%);
    }
 .slick-next {
        display: block;
        position: absolute;
        right: 5%;
        top: 50%;
        z-index: 99;
        color: #fff;
        transform: translateX(-50%);
    }
    .slick-prev:before, .slick-next:before {
        font-size: 30px;
        top: 1px;
        position: relative;
    }
}

.bannerBg {
    background: url("../../assets/images/banner.png") no-repeat center;
    background-size: cover;
    /* padding-top: 196px; */
    /* padding-bottom: 148px; */
    height: 680px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.bannerBgTwo{
    background: url("../../assets/images/banner2.png") no-repeat center;
    h1{
        color: #2B292A;
    }
    p{
        color: #2B292A;
    }
}
.bannerBgThree{
    background: url("../../assets/images/banner3.png") no-repeat center;
    h1{
        color: #2B292A;
    }
    p{
        color: #2B292A;
    }
}
.btn-primary{
    margin-top: 56px;
    font-family: 'Aclonica', sans-serif !important;
    font-weight: 400;
    border-color: #3EBDAC !important;
    border: 2px solid !important;
    border-color: #3EBDAC !important;
    transition: all linear .3s;
    &:hover{
        background-color:#3EBDAC !important;
        border-color: #fff !important;
        border: 2px solid;
    }
}